* {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}
body {
  background: #000;
  overflow: hidden;
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=162193"), default;
}
a {
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=162193"), default;
  text-decoration: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
.no-visual-search {
    pointer-events: none;
}
.cover-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  animation: fadeIn 0.4s ease-in-out;
}
.cover-behind-elements {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.ic {
  max-width: 10px;
}
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}
.hero-content {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(29, 29, 31, 0.575);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: fadeOut 1.5s ease-in-out;
  z-index: 22; /* Ensure it's on top of other content */
}
.terminal {
  animation: fadeIn 0.4s ease-in-out;
}
.hidden {
  display: none;
}
.tip {
  color: gray;
}
.discord {
  padding-bottom: 10px;
  color: #8a8a8a;
}
.link {
  color: rgba(255, 255, 255, 0.644);
  text-decoration: underline;
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=162193"), default;
}
.pfp {
  margin: 0 auto;
  text-align: left;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  background: rgba(32, 35, 41, 0.514);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  animation: fadeIn 0.4s ease-in-out;
}
.title {
  font-size: 0rem;
  font-weight: 500;
  margin: 0;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-align: center;
  background-image: url("assets/sparkle.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.titl {
  font-size: 0rem;
  font-weight: 500;
  margin: 0;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  text-align: center;
  background-image: url("assets/sparkle.gif");
  background-repeat: no-repeat;
  background-position: center;
}
hr {
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid #222;
}
p {
  margin: 0;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeout {
  animation: fadeOut 0.4s ease-in-out;
  animation-fill-mode: forwards;
}
.overlay {
  z-index: 1;
  background-color: #000;
}
.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: #fff;
  font-size: 2.5rem;
}
.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}
.rainbow {
  text-shadow: 2px 2px 4px #000;
  -webkit-animation: rainbow 5s infinite;
  -ms-animation: rainbow 5s infinite;
  animation: rainbow 5s infinite;
}
@-webkit-keyframes rainbow {
  0% {
    color: red;
  }
  17% {
    color: orange;
  }
  33% {
    color: #ff0;
  }
  50% {
    color: green;
  }
  67% {
    color: blue;
  }
  84% {
    color: purple;
  }
  100% {
    color: red;
  }
}
@-ms-keyframes rainbow {
  0% {
    color: red;
  }
  17% {
    color: orange;
  }
  33% {
    color: #ff0;
  }
  50% {
    color: green;
  }
  67% {
    color: blue;
  }
  84% {
    color: purple;
  }
  100% {
    color: red;
  }
}
@keyframes rainbow {
  0% {
    color: red;
  }
  17% {
    color: orange;
  }
  33% {
    color: #ff0;
  }
  50% {
    color: green;
  }
  67% {
    color: blue;
  }
  84% {
    color: purple;
  }
  100% {
    color: red;
  }
}
.badge {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.badge .badge-tooltiptext {
  visibility: hidden;
  width: 120px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(29, 29, 31, 0.575);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.badge .badge-tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}
.badge:hover .badge-tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
* {
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=162193"), auto !important;
}
